body{
    margin-left: 150px;
    margin-right: 150px;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 20px;
}

.idk{
    margin-top: 30px;
}

.cenPh{
    text-align: center;
}

.cenTi{
    text-align: center;
}

.cF{
    padding-top: 20px;
    text-align: center;
}

.cF input {
    text-align: center;
    font-size: 15px;
}